html,
body,
#app {
  box-sizing: border-box;
  height: 100%;
}

html.dark {
	.app-header{
		box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
	}
	.app-sidebar{
		box-shadow: 2px 0 8px 0 rgb(0 0 0 / 25%);
	}
}

html {
	.app-header {
		box-shadow: 0 1px 2px rgb(0 21 41 / 8%);
	}
	.app-sidebar {
		box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
	}
}
